@font-face {
  font-family: 'Noteworthy';
  src: local('Notworthy-Lt'), url(./assets/fonts/Noteworthy-Lt.ttf) format('ttf');
  /* 
  other formats include: 
  'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' 
  */
}

.App-link {
  color: #61dafb;
}

@keyframes slideOut {

  0% {
    margin-top: 0
  }

  50%  {
    margin-top: 10%;
  }

  100% {
    margin-top: 92%;
  }
}

@keyframes slideIn {

  0% {
    margin-top: 92%
  }

  100% {
    margin-top: 0;
  }
}

.definitionsApp {
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  contain: content;
  overflow: hidden;
  font-family: 'Noteworthy', Fallback, sans-serif;
}


.dimension {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2.5px;
  overflow: hidden;
}

.dim-0 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)),
    url('./assets/blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim0;
}

.dim-1 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)),
    url('./assets/green.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim1;

}

.dim-2 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)),
    url('./assets/red.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim2;
}

.dimension-img {
  height: 15em;
  width: 15em;
}

.dimension-text {
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(-180deg);
  text-align: center;
}

@media only screen and (max-width: 992px) {
  /*
  .definitionsApp {
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    text-align: start;
    overflow-y: scroll;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, 100vh);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    grid-template-areas:
      "dim0"
      "dim1"
      "dim2";
    box-sizing: border-box;
    flex-direction: row;
    contain: content;
    font-family: 'Noteworthy', Fallback, sans-serif;
    */
}

.component-box {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  box-sizing: border-box;
  contain: content;
}

.component:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.component {
  position: relative;
  display: flex;
  height: auto;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  flex: 1 1 auto;
  contain: content;
}

.component-img {
  position: absolute;
  display: block;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  animation-name: slideIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component-img.active {
  animation-name: slideOut;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component h5 {
  background-color: white;
  position: absolute;
  top: 1%;
  left: 10%;
  width: 50%;
  text-align: center;
  padding: 0px 2px 0px 2px;
  border-style: solid;
  border-width: 1px;
}

.component ul {
  position: absolute;
  top: 35%;
  height: 45%;
  width: 95%;
  box-sizing: border-box;
}

.component li {
  width: 100%;
  font-size: smaller;
  font-family: Helvetica;
}

.component p {
  position: absolute;
  left: 50%;
  top: 26%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
  font-size: small;
  font-style: italic;
  font-family: Helvetica;

}