@font-face {
  font-family: 'Noteworthy';
  src: local('Notworthy-Lt'), url(./assets/fonts/Noteworthy-Lt.ttf) format('ttf');
  /* 
  other formats include: 
  'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' 
  */
}

.App-link {
  color: #61dafb;
}

@keyframes slideOut {

  0% {
    margin-top: 0
  }

  50% {
    margin-top: 10%;
  }

  100% {
    margin-top: 92%;
  }
}

@keyframes titleSlideOut {

  0% {
    margin-top: 0
  }

  50% {
    margin-top: -5%;
  }

  100% {
    margin-top: -50%;

  }
}

@keyframes titleSlideIn {

  0% {
    margin-top: -50%
  }

  100% {
    margin-top: 8.5%;
  }
}

@keyframes slideIn {

  0% {
    margin-top: 92%
  }

  100% {
    margin-top: 0;
  }
}

.definitionsApp {
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Noteworthy', Fallback, sans-serif;
  margin: 2.5px;
}

.dimension {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-evenly;
  height: 33vh;
  width: 100%;
  overflow: hidden;
}

.dim-0 {
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 255, 0.8),
      rgba(255, 255, 255, 0.7)),
    url('./assets/blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim0;
}

.dim-1 {
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 0.8),
      rgba(0, 255, 0, 0.8),
      rgba(255, 255, 255, 0.7)),
    url('./assets/green.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim1;

}

.dim-2 {
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 0.8),
      rgba(255, 0, 0, 0.8),
      rgba(255, 255, 255, 0.85)),
    url('./assets/red.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim2;
}

.dimension-title {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(-180deg);
  text-align: center;
  font-size: 1.5vmax;
  margin: 0px;
  height: 90%;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}


.component-box {
  --gutter: 0px;
  --content-width: 100vw;
  --columns: 4;
  --row-size: calc((var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns));
  --font-size: 1.5vmin;

  display: grid;
  width: 100%;
  max-width: calc(33vh * 4);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);

  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  place-items: center;
}


.component:before {
  content: '';
  display: block;
  height: auto;
  width: 100%;
  max-height: var(--row-size);
  padding-bottom: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.component {
  position: relative;
  display: grid;
  height: auto;
  width: 100%;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: white;
  aspect-ratio: 1/1;
}

.component-img {
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  overflow-x: hidden;
  max-width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  animation-name: slideIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component-img.active {
  animation-name: slideOut;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component-title.active {
  animation-name: titleSlideOut;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component-title {
  background-color: white;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  top: 2.5%;
  left: 11%;
  width: 40%;
  font-size: var(--font-size);
  text-align: center;
  padding: 0px 2px 0px 2px;
  border-style: solid;
  border-width: 1px;
  animation-name: titleSlideIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component ul {
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  width: 80%;
  padding-inline-start: 4vmin;
}

.component li {
  font-size: var(--font-size);
  font-family: Arial, sans-serif;
  vertical-align: middle;

  li:active {
    font-weight: bold;
  }
}

.component li .more-info {
  border: #666 1px dotted;
  display: inline block;
  left: 60%;
  width: 90%;
  transform: translate(-50%, -25%);
  background: #e3e3e3;
  position: absolute;
  text-decoration: none;
  font-size: 1.3vmin;
}

.component p {
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 86%;
  text-align: center;
  font-size: var(--font-size);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}



/* Medium (Tablets, iPad, Horizontal Mobile */
@media (max-width: 948px) {

  .definitionsApp {
    overflow-y: scroll;
  }

  .dimension {
    flex-direction: column;
    height: fit-content;
  }

  .dim-0 {
    background-image: linear-gradient(to top,
        rgba(255, 255, 255, 0.8),
        rgba(0, 0, 255, 0.8),
        rgba(255, 255, 255, 0.7)),
      url('./assets/blue.jpg');
  }

  .dim-1 {
    background-image: linear-gradient(to top,
        rgba(255, 255, 255, 0.8),
        rgba(0, 255, 0, 0.8),
        rgba(255, 255, 255, 0.7)),
      url('./assets/green.jpg');
  }

  .dim-2 {
    background-image: linear-gradient(to top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 0, 0, 0.8),
        rgba(255, 255, 255, 0.7)),
      url('./assets/red.jpg');
  }

  .dimension-title {
    width: 35vw;
    writing-mode: horizontal-tb;
    text-orientation: upright;
    text-align: center;
    transform: none;
    height: fit-content;
    font-size: 3vmin;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
  }

  .component {
    border-radius: 12px;
    --font-size: 2vmin;
  }

  .component ul {
    padding-inline-start: 5vmax;
  }

  .component-box {
    --columns: 2;
    --gutter: 5px;
  }

  .component li .more-info {
    font-size: 1.8vmin;
  }

}

/* Small / Mobile */
@media (max-width: 480px) {
  .dimension-title {
    font-size: 5vmin;
  }

  .component-box {
    --columns: 1;
  }

  .component {
    --font-size: 4vmin;
  }

  .component ul {
    padding-inline-start: 7vmax;
  }

  .component li .more-info {
    font-size: 3vmin;
  }

}