@font-face {
  font-family: 'Noteworthy';
  src: local('Notworthy-Lt'), url(./assets/fonts/Noteworthy-Lt.ttf) format('ttf');
  /* 
  other formats include: 
  'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' 
  */
}

.App-link {
  color: #61dafb;
}

@keyframes slideOut {

  0% {
    margin-top: 0
  }

  10% {
    margin-top: 1rem;
  }

  100% {
    margin-top: 200rem
  }
}

@keyframes slideIn {

  0% {
    margin-top: 200rem
  }

  10% {
    margin-top: 1rem;
  }

  100% {
    margin-top: 0;
  }
}

.definitionsApp {
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  contain: content;
  overflow: hidden;
  font-family: 'Noteworthy', Fallback, sans-serif;
}


.dimension {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dim-0 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)),
    url('./assets/blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim0;
}

.dim-1 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)),
    url('./assets/green.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim1;

}

.dim-2 {
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)),
    url('./assets/red.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: dim2;
}

.dimension-img {
  height: 15em;
  width: 15em;
}

.dimension-text {
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(-180deg);
  text-align: center;
}

@media only screen and (max-width: 992px) {
/*
  .definitionsApp {
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    text-align: start;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, 100vh);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    grid-template-areas:
      "dim0"
      "dim1"
      "dim2";
    box-sizing: border-box;
    flex-direction: row;
    contain: content;
    overflow-y: scroll;
    font-family: 'Noteworthy', Fallback, sans-serif;
  }

  .dimension {
    display: flex;
    flex-direction: column !important;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
  }

  .dimension-text {
    width: 100%;
    writing-mode: unset;
    text-align: center;
    text-orientation: upright;
    transform: none;
  }
  .component-box {
    flex-direction: column;
    width: 100%;
  }
  .component {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 40%;
    flex: 1 0 calc(45% - 10px);
    contain: content;
  }
  
  .component-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    box-sizing: border-box;
    contain: content;
  }
*/
}

.component-box {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  height: 100%;
  justify-content: space-evenly;
  box-sizing: border-box;
  contain: content;
}

.component {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  flex: 1 0 calc(25% - 10px);
  box-sizing: border-box;
  contain: content;
}

.component-img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  animation-name: slideIn;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component-img.active {
  animation-name: slideOut;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.component h5 {
  background-color: white;
  position: absolute;
  top: 1%;
  left: 10%;
  width: 50%;
  text-align: center;
  padding: 0px 2px 0px 2px;
  border-style: solid;
  border-width: 1px;
}

.component ul {
  position: absolute;
  bottom: 10px;
  height: 45%;
  width: 95%;
  box-sizing: border-box;
}

.component li {
  width: 100%;
  font-size: smaller;
  font-family: Helvetica;
}

.component p {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: small;
  font-family: Helvetica;

}